*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.video-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

video{
    height: 100vh;
    width:100vw;
}

button{
    position: absolute;
    right: 5rem;
    font-size: 2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 7px solid #636e72;
    z-index:2;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #636e72;
}

.filters{
    height: 15rem;
    width: 7rem;
    position: absolute;
    background-color: white;
    top: 10rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    z-index:2;
}

.filter{
    flex-grow: 1;
    border: 1px solid;
    background-blend-mode: color-burn;
    background-image: url('https://wallpapercave.com/wp/wp4564082.jpg');
    background-size: cover;
}

.filter-div{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    z-index:1;
}

#capture{
    top:40vh;
}

#record{
    top:60vh;
}

.zoom{
    height: 8rem;
    width: 4rem;
    position: absolute;
    top: 4rem;
    right: 5.5rem;
    background-color: #dfe6e9;
    display: flex;
    flex-direction: column;
    z-index:2;
}

.zoom div span:hover{
    transform: scale(1.1);
    transition: 0.6s;
}

.zoom div{
    flex-grow: 1;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons{
    font-size: 2.5rem!important;
    cursor: default;
}

#gallery{
    top:82vh;
}
